<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Accueil</a> |
    <a href="/tasks">Tâches</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>
  </nav>

  <h1>À propos</h1>
  <p><%= bio %></p>
</body>
</html>
