<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Accueil</a> |
    <a href="/tasks">Tâches</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>
  </nav>

  <h1>Contact</h1>
  <p>Vous pouvez me contacter à : <a href="mailto:<%= email %>"><%= email %></a></p>
</body>
</html>
