body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

a {
  color: #972480;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}


.done { color: green; font-weight: bold; }
.pending { color: gray; }
button { margin-left: 5px; padding: 2px 6px; cursor: pointer; }
input { padding: 5px; margin-right: 5px; }
h2 { margin-top: 20px; }
ul { list-style-type: none; padding: 0; }
li { margin-bottom: 8px; }

nav a {
  margin-right: 15px;
  font-weight: bold;
  color: #e054bb;
}
